.beneficios__intro{
    display: flex;
    font-size: .8rem;
    gap: 70px;
    font-family: var(--font-principal);
    background-color: var(--color-violeta);
    color: #FFF;
    padding: 40px 200px;
    text-align: start;
}

.beneficios__intro__titulo {
    font-size: 36px;
    font-weight: 700;
    width: 50%;
}

.beneficios__intro__texto {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
}

.beneficios__cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 40px 150px;
    font-family: var(--font-principal);
    font-size: 16px;
}

.carta {
    display: flex;
    align-items: flex-start;
    gap: 23px;
    width: 550px;
}

.carta__contenedor__texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 7px;
}
.carta__texto__titulo {
    font-weight: 700;
}
.carta__texto {
    font-weight: 500;
    line-height: 25px;
letter-spacing: -0.163px;
text-align: justify;
}
.carta__boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px 23px;
    font-size: .8rem;
    font-family: var(--font-principal);
    background-color: var(--color-violeta);
    color: #FFF;
}