.header {
    min-height: 8.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    font-family: var(--font-principal);
    
}

.header__logo {
    height: 1.5rem;
}

.header__menu {
    display: flex;
    gap: 0.6rem;
    font-size: 0.8rem;
}

.menu_hamburguesa {
    display: none;
    font-size: 3.2rem;
}

.header__menu__boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 0.9rem;
    width: 6.25rem;
    height: 1.9rem;
    font-size: .8rem;
    font-family: var(--font-principal);
    background-color: var(--color-violeta);
    color: #FFF;
    box-shadow: 0 0.25rem 0.44rem 0 rgba(0, 0, 0, 0.25);
    
}

.header__menu__boton:hover {
    background-color: var(--color-violeta-claro);
}

.header__menu__item:hover{
    color:  rgba(36, 46, 82, 0.60);
    
}

@media(max-width:480px){
    .header {
        padding: 2.5rem;     
    }

    .header__menu__container{
        display: none;
    }
    .header__menu__boton{
        display: none;
    }

    .menu_hamburguesa {
        display: inline;
    }
    
}