:root {
    /* colores */
    --color-violeta: #8B48BF; 
    --color-violeta-claro: rgba(139, 72, 191, 0.7);  /* Rojo */
    --color-celeste: #3CDDF3;  /* Verde */
    --color-azul-oscuro: #1E1E26;
    --color-azul-muy-oscuro: #232851;  
    --color-gris-claro: rgb(249, 249, 249);
    /*para usar las variables poner-> var(--color-azul-muy-oscuro) */


    /* fuente */
    --font-principal:'Be Vietnam Pro','Montserrat', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
     /*para usar la fuente poner-> var(--font-principal) */
    
}

*{    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container_principal{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

